In [1]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os 
import seaborn as sns

hakemisto = './data/'

sisalto = os.listdir(hakemisto)
print(sisalto)

# Ladataan data 
df_train = pd.read_csv('./data/Tampere_BNB_training_listing.csv')
df_test = pd.read_csv('./data/Tampere_BNB_testing_listing.csv')

df = pd.concat([df_train, df_test], ignore_index=True)

['Global_Landslide_Catalog_Export.csv:Zone.Identifier', 'Tampere_BNB_testing_listing.csv', 'Global_Landslide_Catalog_Export.csv', 'Tampere_BNB_training_listing.csv', 'Tampere_BNB_training_listing.csv:Zone.Identifier', 'Tampere_BNB_testing_listing.csv:Zone.Identifier', 'catalog.csv:Zone.Identifier', 'NFL Play by Play 2009-2016 (v3).csv', 'catalog.csv', 'Building_Permits.csv:Zone.Identifier', 'NFL Play by Play 2009-2016 (v3).csv:Zone.Identifier', 'Building_Permits.csv']

In [2]:
df.describe()

                m2           Rv   Pituusaste   Leveysaste        Hinta
count  1440.000000  1440.000000  1440.000000  1440.000000  1080.000000
mean     61.084028  1990.502778    23.796818    61.485237   283.833333
std      27.861087    26.727825     0.102030     0.026123   140.907735
min      12.000000  1880.000000    23.581308    61.430235    36.000000
25%      41.000000  1970.000000    23.734703    61.466342   192.000000
50%      57.000000  1990.000000    23.794420    61.493023   255.000000
75%      75.000000  2018.000000    23.854360    61.501872   339.000000
max     259.000000  2024.000000    24.070784    61.627915  1299.000000